---
import Layout from "../layouts/Layout.astro";
import CardProject from "../components/CardProject.astro";
import PageHeader from "../components/PageHeader.astro";
import Modal from "../components/Modal.astro";
const baseSkills = ["HTML", "CSS", "JavaScript"];

const weatherCard = {
  img: {
    src: `${import.meta.env.BASE_URL}/project_1.png`,
    alt: "Weather App Layout",
  },
  title: "Weather App",
  description:
    "Stay ahead of the forecast with our intuitive weather app. Get real-time updates on current conditions, hourly forecasts, and daily outlooks. Plan your day confidently with accurate weather information at your fingertips. Never be caught off guard by the elements again!",
  skills: baseSkills,
};

const calculatorCard = {
  img: {
    src: `${import.meta.env.BASE_URL}/project_2.png`,
    alt: "Age calculator Layout",
  },
  title: "Age calculator",
  description:
    "AgeEase: Instantly calculate your age or anyone else' s with precision and simplicity. Whether you're celebrating milestones or planning events, keeps track of the years, months, and days. Effortlessly determine ages for birthdays, anniversaries, or any special occasion.",
  skills: baseSkills,
};

const realEstateCard = {
  img: {
    src: `${import.meta.env.BASE_URL}/project_3.png`,
    alt: "Real Estate welcome page",
  },

  title: "Real Estate",
  description:
    "Introducing Real Estate: Your trusted partner in real estate management. From residential complexes to commercial spaces, we offer comprehensive property management services tailored to meet your needs. With a focus on efficiency, transparency, and maximizing property value.",
  skills: baseSkills,
};

const forestCard = {
  img: {
    src: `${import.meta.env.BASE_URL}/project_4.png`,
    alt: "Forest Group welcome page",
  },
  title: "Forest Group",
  description:
    "Welcome to Forest Group: Your digital oasis for landscaped parks. Explore lush green spaces, tranquil gardens, and vibrant landscapes from the comfort of your screen. Discover inspiration for your next outdoor adventure, family picnic, or leisurely stroll.",
  skills: baseSkills,
};

const modalContent = {
  title: "Checking title",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio praesentium quis veritatis repellendus quam. Quam atque ad sapiente similique accusantium pariatur veniam ipsum reprehenderit, aliquam tenetur recusandae excepturi, aut architecto?",
};

const cards = [weatherCard, calculatorCard, realEstateCard, forestCard];
---

<Layout
  title="My portfolio"
  description="Portfolio presents my current programming skills, knowledge and stack"
>
  <PageHeader />
  <main class="flex flex-col justify-center items-center">
    <section id="home">
      <div class="container">
        <div class="flex items-start justify-center h-screen flex-col">
          <h1 class="text-5xl font-bold">Travel without limits!</h1>
          <p class="mt-12 text-2xl">
            Lorem, ipsum dolor sit amet consecte tur adipisicing elit. Soluta ut
            facere aliquam impedit ullam minusreprehenderit quia in laudantium
            sint.
          </p>
          <button
            class="btn-offer mt-12 px-3 py-6 text-2xl font-bold border-2 border-blue-400 bg-blue-300 transition duration-300 hover:bg-blue-400"
            >Check offer</button
          >
        </div>
      </div>
    </section>

    <section
      class="projects w-full max-h-none flex flex-col items-center p-8 bg-gradient-to-r from-blue-300 to-blue-200"
      id="portfolio"
    >
      <div class="max-w-6xl">
        <h2 class="title mb-12 text-4xl font-semibold">
          Portfolio Highlights: Showcasing My Work
        </h2>
        <p class="mb-6 text-base">
          Welcome to my Portfolio Highlights section, where I present a curated
          selection of my finest work. Here, you'll find a collection of
          projects that showcase my skills, creativity, and expertise. From
          innovative designs to successful campaigns, each project reflects my
          dedication to delivering high-quality results and exceeding
          expectations.
        </p>
        <p class="mb-6 text-base">
          Explore this gallery to gain insight into my capabilities and see how
          I can bring value to your projects. Whether you're seeking design
          inspiration, marketing strategies, or technical solutions, my
          portfolio highlights demonstrate my ability to tackle diverse
          challenges and deliver outstanding outcomes. Dive in and discover the
          depth of my professional experience and the breadth of my creative
          vision.
        </p>
        <div class="mt-24">
          <ul class="grid md:grid-cols-2 gap-8 md:gap-16">
            {
              cards.map((card) => (
                <li class="flex justify-stretch">
                  <CardProject card={card} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
  </main>
  <Modal modalContent={modalContent} />
</Layout>
