---
interface Props {
  img: string;
  title: string;
  description: string;
  skills: Array<string>;
}

const { img, title, description, skills } = Astro.props;
---

<div class="p-6 flex flex-col items-center gap-x-6 shadow-md">
  <div class="h-64">
    <img
      class="rounded-3xl w-64 h-64"
      src={img}
      alt="Location-based weather API"
    />
  </div>
  <div class="relative h-full pb-8">
    <h3
      class="mt-6 text-lg font-semibold leading-7 tracking-tight text-gray-900"
    >
      {title}
    </h3>
    <p class="text-base font-semibold leading-6 text-slate-700 my-8">
      {description}
    </p>
    <ul class="w-full flex justify-around absolute bottom-0">
      {
        skills.map((skill) => {
          switch (skill) {
            case "HTML":
              return <li class="text-orange-600">{skill}</li>;
              break;
            case "CSS":
              return <li class="text-blue-600">{skill}</li>;
              break;
            case "JavaScript":
              return <li class="text-yellow-300">{skill}</li>;
              break;
            default:
              return <li class="text-cyan-500">{skill}</li>;
              break;
          }
        })
      }
    </ul>
  </div>
</div>
